################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/3DS Builder/bin/Release
*.suo
/3DS Builder/obj/x86/Release
/3DS Builder/bin/Debug
/3DS Builder/obj/x86/Debug
/3DS Builder/obj
